.success{
    color: green;
    background-color: lightgrey;
    border: solid;
    border-color: green;
    border-radius: 10px;
    padding: 5px;
}

.failed {
    color: red;
    background-color: lightgrey;
    border: solid;
    border-color: red;
    border-radius: 10px;
    padding: 5px;
}